<div class="row-fluid nav-grid">
  <div class="span4">
    <a href="#files">Files</a>
  </div>
  <div class="span4">
    <a href="#itunes">iTunes</a>
  </div>
  <div class="span4">
    <a href="#mplayerx">MPlayerX</a>
  </div>
</div>