<a href="#" class="btn">Show all</a>
<h1>MPlayerX</h1>

<div id="centre">
  <div id="mplayerx-remote" class="well">
    <button id="mplayerx-previous" data-nextstate="previous" class="btn btn-large"><i class="icon-step-backward"></i></button>
    <button id="mplayerx-backward" data-nextstate="backward" class="btn btn-large"><i class="icon-backward"></i></button>
    <button id="mplayerx-playpause" data-nextstate="playpause" class="btn btn-large"><i class="icon-play"></i></button>
    <button id="mplayerx-forward" data-nextstate="forward" class="btn btn-large"><i class="icon-forward"></i></button>
    <button id="mplayerx-next" data-nextstate="next" class="btn btn-large"><i class="icon-step-forward"></i></button>
    <br /><br />
    <div class="second-row">
      <button id="mplayerx-toggle-mute" data-nextstate="mute" class="btn btn-large">M</button>
      <button id="mplayerx-toggle-subs" data-nextstate="subs" class="btn btn-large">S</button>
      <button id="mplayerx-stop" data-nextstate="stop" class="btn btn-large"><i class="icon-stop"></i></button>
      <button id="mplayerx-toggle-fullscreen" data-nextstate="fullscreen" class="btn btn-large"><i class="icon-resize-full"></i></button>
    </div>
    <div class="volume-buttons">
      <button id="mplayerx-volup" data-nextstate="volup" class="btn btn-small"><i class="icon-plus"></i></button>
      <button id="mplayerx-voldown" data-nextstate="voldown" class="btn btn-small"><i class="icon-minus"></i></button>
    </div>
  </div>
</div>